name: Automated Wine update
on:
  schedule:
    - cron:  '0 12 * * Sat'

jobs:
  updateWine:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
        with:
          ref: master
      - name: Get Latest Wine Version
        id: wine
        run: |
          echo ::set-output name=release_tag::$(curl -sL https://www.winehq.org/news/ |grep "The Wine development release" |head -n1|cut -d " " -f6)
          echo ::set-output name=current_tag::$(grep WINE_TAG= docker-wine/Dockerfile|cut -d- -f2)
      - name: Update Wine
        if: steps.wine.outputs.current_tag != steps.wine.outputs.release_tag
        env:
          RELEASE_TAG: ${{ steps.wine.outputs.release_tag }}
        run: |
            sed -i "s:WINE_TAG=.*$:WINE_TAG=wine-$RELEASE_TAG:" docker-wine/Dockerfile
            sed -i "s:^\(It is based on .* wine \)[^ ]*[0-9]:\1$RELEASE_TAG:" README.md
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v1
        with:
          token: ${{ secrets.PAT }}
          author-name: "github-actions[bot]"
          author-email: "41898282+github-actions[bot]@users.noreply.github.com"
          commit-message: Update wine to ${{ steps.wine.outputs.release_tag }}
          title: Update wine to ≥${{ steps.wine.outputs.release_tag }}
          body: |
              Updates wine to ≥${{ steps.wine.outputs.release_tag }}
              
              ```
              ./run-mtgo --update --test panard/mtgo:pr<#ID>
              ```

              Auto-generated by [create-pull-request][1]
              [1]: https://github.com/peter-evans/create-pull-request
          assignees: pauleve
          labels: autodocker
          branch: auto/wine-updates
          branch-suffix: none
