name: Automated Wine update
on:
  schedule:
    - cron:  '0 12 * * Sat'
  workflow_dispatch:

jobs:
  updateWine:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: master
          token: ${{ secrets.PAT }}
      - name: follow for-next
        run: |
          git fetch origin for-next
          git merge --ff-only origin/for-next
      - name: Get Latest Wine Version
        id: wine
        run: |
          echo ::set-output name=release_tag::$(curl -sL https://hub.docker.com/v2/namespaces/panard/repositories/wine/tags | jq -r '.results[].name' | grep '\-wow64$' | head -n1)
          echo ::set-output name=current_tag::$(grep FROM Dockerfile|cut -d: -f2)
      - name: Update Wine
        if: steps.wine.outputs.current_tag != steps.wine.outputs.release_tag
        env:
          RELEASE_TAG: ${{ steps.wine.outputs.release_tag }}
        run: |
            sed -i "s:FROM .*$:FROM panard/wine:$RELEASE_TAG" docker-wine/Dockerfile
            sed -i "s:^\(It is based on .* wine \)[^ ]*[0-9]:\1$RELEASE_TAG:" README.md
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v3.5.0
        with:
          token: ${{ secrets.PAT }}
          commit-message: Update wine to ${{ steps.wine.outputs.release_tag }}
          title: Update wine to ${{ steps.wine.outputs.release_tag }}
          body: |
              Updates wine to ${{ steps.wine.outputs.release_tag }}

              ```
              ./run-mtgo --update --test panard/mtgo:pr<#ID>
              ```
          assignees: pauleve
          labels: autodocker
          branch: auto/wine-updates
